<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <immediateFlush>true</immediateFlush>
        <encoder>
            <!-- @formatter:off -->
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%blue(%32.32t)] %yellow(%logger{36}):%line: %msg%n%throwable</pattern>
            <!-- @formatter:on -->
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="io.bluetape4k.leader.examples.tenant" level="DEBUG"/>
    <logger name="io.bluetape4k.leader.exposed" level="DEBUG"/>
    <logger name="bluetape4k" level="DEBUG"/>

    <logger name="org.testcontainers" level="WARN"/>
    <logger name="org.jetbrains.exposed" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>
</configuration>
